{% extends "master2.html" %} {% load static %} {% block title %}About Us {% endblock %} {% block content %}
<div class="contact1">
  <img src="{% static 'img/member.jpg' %}" alt="About us" class="image" />
  <div class="overlay">
    <h1>About Us</h1>
    <p>
      "𝐓𝐡𝐚𝐧𝐤 𝐲𝐨𝐮 𝐟𝐨𝐫 𝐯𝐢𝐬𝐢𝐭𝐢𝐧𝐠 𝐨𝐮𝐫 𝐂𝐨𝐥𝐥𝐞𝐠𝐞 𝐏𝐫𝐨𝐣𝐞𝐜𝐭 𝐩𝐚𝐠𝐞. 𝐀𝐬 𝐛𝐞𝐠𝐢𝐧𝐧𝐞𝐫𝐬, 𝐰𝐞
      𝐚𝐜𝐤𝐧𝐨𝐰𝐥𝐞𝐝𝐠𝐞 𝐭𝐡𝐚𝐭 𝐩𝐞𝐫𝐟𝐞𝐜𝐭𝐢𝐨𝐧 𝐢𝐬 𝐚 𝐣𝐨𝐮𝐫𝐧𝐞𝐲, 𝐚𝐧𝐝 𝐰𝐞'𝐫𝐞 𝐜𝐨𝐦𝐦𝐢𝐭𝐭𝐞𝐝 𝐭𝐨 𝐥𝐞𝐚𝐫𝐧𝐢𝐧𝐠
      𝐚𝐧𝐝 𝐢𝐦𝐩𝐫𝐨𝐯𝐢𝐧𝐠 𝐚𝐥𝐨𝐧𝐠 𝐭𝐡𝐞 𝐰𝐚𝐲. 𝐎𝐮𝐫 𝐠𝐫𝐨𝐮𝐩 𝐜𝐨𝐧𝐬𝐢𝐬𝐭𝐬 𝐨𝐟 𝐟𝐢𝐯𝐞 𝐦𝐞𝐦𝐛𝐞𝐫𝐬 𝐰𝐡𝐨 𝐚𝐫𝐞
      𝐩𝐚𝐬𝐬𝐢𝐨𝐧𝐚𝐭𝐞 𝐚𝐛𝐨𝐮𝐭 𝐞𝐱𝐩𝐥𝐨𝐫𝐢𝐧𝐠 𝐧𝐞𝐰 𝐢𝐝𝐞𝐚𝐬 𝐚𝐧𝐝 𝐭𝐞𝐜𝐡𝐧𝐨𝐥𝐨𝐠𝐢𝐞𝐬, 𝐞𝐚𝐠𝐞𝐫 𝐭𝐨 𝐞𝐦𝐛𝐫𝐚𝐜𝐞
      𝐜𝐡𝐚𝐥𝐥𝐞𝐧𝐠𝐞𝐬, 𝐚𝐧𝐝 𝐠𝐫𝐨𝐰 𝐭𝐨𝐠𝐞𝐭𝐡𝐞𝐫. 𝐘𝐨𝐮𝐫 𝐬𝐮𝐩𝐩𝐨𝐫𝐭 𝐦𝐞𝐚𝐧𝐬 𝐚 𝐥𝐨𝐭 𝐭𝐨 𝐮𝐬 𝐚𝐬 𝐰𝐞 𝐞𝐦𝐛𝐚𝐫𝐤
      𝐨𝐧 𝐭𝐡𝐢𝐬 𝐣𝐨𝐮𝐫𝐧𝐞𝐲 𝐨𝐟 𝐝𝐢𝐬𝐜𝐨𝐯𝐞𝐫𝐲."
    </p>
  </div>
</div>

{% endblock %}
