{% extends "master2.html" %} {% load static %} {% block title %} Search Flight
Results {% endblock %} {% block content %}
<div><h3 class="heading">Available Flights:</h3></div>
<div class="flex-container-wrapper">
  <div class="flex-container">
    <div class="back">
      <strong>
        <p>From: {{ from_location }} &#8680; To: {{ to_location }}</p>
        <p>Departure Date: {{ departure_date }}</p>
        {% if class_type %}
        <p>Class: {{ class_type }}</p>
        {% endif %}
      </strong>
    </div>
  </div>

  <div class="flex-container2">
    <table class="flighttable">
      <thead>
        <tr>
          <th>Airline</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Flight Number</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Departure Time</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Arrival Time</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Seat</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% if available_flights %} {% for flight in available_flights %}
        <tr>
          <td>{{ flight.airline }}</td>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td>{{ flight.flight_number }}</td>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td>{{ flight.departure_time }}</td>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td>{{ flight.arrival_time }}</td>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          {% if flight.total_seat %}
          <td>{{ flight.total_seat }}</td>
          {% else %}
          <td>Booked</td>
          {% endif %}
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td>{{ flight.price }}</td>
          <th>&nbsp; &nbsp;</th>
          <td>
            {% if flight.departure_date >= today %} {% if flight.total_seat > 0 %} {% if flight.is_available %}
            <a
              href="{% url 'passenger_details' %}?from_location={{ from_location }}&to_location={{ to_location }}&departure_date={{ departure_date }}&class_type={{ class_type }}&flight_fare={{ flight.price }}&flight_id={{ flight.id }}"
              class="book-button"
              >Book Now</a
            >
            {% else %} <span class="no"> Flight-Cancelled </span> {% endif %} {% else %} Not Available {% endif %} {% else %}
            <strong class="left">Already Left</strong>
            {% endif %}
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="11" class="no">No available flights.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
