{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fly / Bharat - Book Your Next Adventure</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-image: url("{% static 'img/fly.jpg' %}");
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="top-bar">
      <div class="left-content">
        <button onclick="location.href='{% url 'mybookings' %}'">
          My Bookings
        </button>
      </div>
      <h1>FLY / Bharat</h1>
      {% if user.is_authenticated %}
      <div class="right-content">
        <button onclick="location.href='{% url 'logout' %}'">Logout</button>
        <button onclick="location.href='{% url 'edit_profile' %}'">
          Edit-profile
        </button>
      </div>
      {% else %}
      <div class="right-content">
        <button onclick="location.href='{% url 'login' %}'">Login</button>
      </div>
      {% endif %}
    </div>

    <div class="flex-container">
      <form
        class="search-form"
        id="search-form"
        action="{% url 'bookflight' %}"
        method="GET"
      >
        <input
          type="text"
          id="from"
          name="from"
          list="destinations"
          placeholder="From"
          required
        />
        <input
          type="text"
          id="to"
          name="to"
          list="destinations"
          placeholder="To"
          required
        />
        <datalist id="destinations">
          <option value="Delhi"></option>
          <option value="Mumbai"></option>
          <option value="Bengaluru"></option>
          <option value="Hyderabad"></option>
          <option value="Chennai"></option>
          <option value="Kolkata"></option>
          <option value="Kochi"></option>
          <option value="Goa"></option>
          <option value="Pune"></option>
          <option value="Ahmedabad"></option>
          <option value="Jaipur"></option>
          <option value="Bhubaneswar"></option>
        </datalist>
        <input type="date" name="departure_date" required />
        <select id="class" name="class">
          <option value="Economy">Economy</option>
          <option value="Business">Business</option>
          <option value="First Class">First Class</option>
        </select>
        <button type="submit" class="search-button">Search</button>
      </form>
    </div>

    <div class="middle-flex-container">
      <h1></h1>
    </div>

    <div class="bottom-bar">
      <h2 class="headingmain" style="color: rgb(0, 6, 11)">
        Popular Destinations
      </h2>
      <div class="grid-container">
        <div class="grid-item">
          <a href="https://en.wikipedia.org/wiki/New_Delhi" target="_blank">
            <img src="{% static 'img/delhi.jpg' %}" alt="Delhi" />
          </a>
          <div class="destination-name">Delhi</div>
        </div>
        <div class="grid-item">
          <a href="https://en.wikipedia.org/wiki/Odisha" target="_blank">
            <img src="{% static 'img/odisha.jpg' %}" alt="Odisha" />
          </a>
          <div class="destination-name">Odisha</div>
        </div>
        <div class="grid-item">
          <a href="https://en.wikipedia.org/wiki/Kolkata" target="_blank">
          <img src="{% static 'img/kolkata.jpg' %}" alt="Kolkata" />
        </a>
          <div class="destination-name">Kolkata</div>
        </div>
        <div class="grid-item">
          <a href="https://en.wikipedia.org/wiki/Chennai" target="_blank">
          <img src="{% static 'img/chennai.jpg' %}" alt="Chennai" />
        </a>
          <div class="destination-name">Chennai</div>
        </div>
        <div class="grid-item">
          <a href="https://en.wikipedia.org/wiki/Darjeeling" target="_blank">
          <img src="{% static 'img/Darjeeling.jpg' %}" alt="Darjeeling" />
        </a>
          <div class="destination-name">Darjeeling</div>
        </div>
        <div class="grid-item">
          <a href="https://en.wikipedia.org/wiki/Mumbai" target="_blank">
          <img src="{% static 'img/mumbai.jpg' %}" alt="Mumbai" />
        </a>
          <div class="destination-name">Mumbai</div>
        </div>
      </div>
    </div>

    <div class="footer-bar">
      <a href="{% url 'help' %}">Help me</a>
      <a href="{% url 'aboutus' %}">About Us</a>
      <a href="{% url 'feedback' %}">Feedback</a>
    </div>
    <script>
      document
        .querySelector(".search-button")
        .addEventListener("click", function (event) {
          var fromInput = document.querySelector('input[name="from"]');
          var toInput = document.querySelector('input[name="to"]');

          if (fromInput.value === toInput.value) {
            alert("From and To destinations cannot be the same.");
            event.preventDefault();
          }
        });
    </script>
  </body>
</html>
