{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-image: url("{% static 'img/fly.jpg' %}");
      background-size: cover;
    }
  </style>
  <body>
    <div class="top-bar">
      <div class="left-content">
        {% if request.path != '/' %}
        <button onclick="location.href='{% url 'home' %}'">Home</button>
        {% endif %}
      </div>
      <h1>FLY / Bharat</h1>
      {% if user.is_authenticated %}
      <div class="right-content">
        <button onclick="location.href='{% url 'logout' %}'">Logout</button>
      </div>
      {% else %}
      <div class="right-content">
        <button onclick="location.href='{% url 'login' %}'">Login</button>
      </div>
      {% endif %}
    </div>
    {% block content %}{% endblock %}
    <div class="bottom-bar"></div>
    <div class="footer-bar">
      {% if request.path != '/help/' %}
      <a href="{% url 'help' %}">Help me</a>
      {% endif %}
      {% if request.path != '/aboutus/' %}
      <a href="{% url 'aboutus' %}">About Us</a>
      {% endif %}
    </div>
  </body>
</html>
